*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    position: relative;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #5c0e69;
    box-shadow: 0 0 5px #ffffffa1;
    position: fixed;
    top: 0;
    z-index: 5;
 
}
nav a{
    color: #fff;
}
nav, a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 1.2rem;
    font-family: "Share Tech", sans-serif;
    color: #fff;
    transition: 1s all;
}
nav a:hover{
    border-bottom: 2px solid #a385a8;
}
.nav-logo img{
    max-width: 200px;
}


/*Sobre*/
.hero{
    width: 100%;
}
.hero div{
  margin-top: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.hero h1{
    font-size: 2rem;
}
.sobre img{
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000094;
    margin: 1rem 0;
}
.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    max-width: 50vw;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 1rem 0;
}
.formacao{
    color: #9C27B0;
    font-weight: bold;
}
.icons, a{
    color: #84528d;
    text-decoration: none;
    display: flex;
    font-family: 'Roboto', sans-serif;
    gap: 1rem;
    font-weight: bold;
}

/*Skils*/

.skils{
    width: 100%;
    background-color: #5c0e69;
    color: #fff;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    height: 100%;
}
.skils-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}
.skils-icons p i{
    font-size: 2rem;
    padding: 1rem;
}

/*projetos*/

.projetos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
}
.projetos h3{
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
    height: 100%;
    margin-top: 1rem;
    max-width: 80%;
}
.card{
    box-shadow: 0 0 10px #ffffff6e;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    opacity: 0.6;
    transition: 1s all;
}
.card:hover{
    opacity: 1;
}
.card h4{
    color: #9C27B0;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.card a{
    margin: 10px 0;
    box-shadow: 0 0 10px #84528d;
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    

}
.cards div{
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
}
.cards img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*contato*/

.contato {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    color: #fff;
    background-color: #000;
}
.contato img{
    max-width: 300px;
    border-radius: 50%;
}
.contato h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.contato p{
    font-size: 1.2rem;
    max-width: 50%;
    text-align: center;
    line-height: 2rem;
}
.contato-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.footer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #5c0e69;
    color: #fff;
    font-size: 1.2rem;
    height: 100%;
    padding: 2rem 0;
}
#btnMobile{
    display: none;
}
#navMobile{
    display: none;
}
.iconsFooter{
    display: flex;
    gap: 1.5rem;
    font-size: 1.9rem;
}

@media (max-width: 768px) {
    .header{
        justify-content: space-between;
        padding: 10px;
        
    }
    .nav-logo img{
        width: 150px;
    }
    .header a{
      display: none;
     
    }
    #btnMobile{
        display: block;
        color: #fff;
        font-size: 2.5rem;
        position: absolute;
        right: 1rem;
    }
    #navMobile{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        color: #fff;
        position: fixed;
        z-index: 3;
        right: 0;
        background-color: #5c0e69;
        width: 100%;
        height: 50%;
        top: 18%;    
    }
    #navMobile a{
        text-decoration: none;
        color: #fff;
        padding: 1rem;
        border-radius: 5px;
    }
    #navMobile a:hover{
        text-decoration: none;
        color: #5c0e69;
        background-color: #84528d;

    }
    .active{
       display: flex;   
    }

    .sobre {
        width: 100%;
    }
    .skils-icons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 1rem;
        height: 100%;
        margin-top: 1rem;
        max-width: 80%;
    }
    .footer{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        background-color: #5c0e69;
        color: #fff;
        font-size: 1rem;
        height: 100%;
        padding: 2rem 0;
    }
    .iconsFooter{
        display: flex;
        gap: 1.5rem;
        font-size: 1.5rem;
    }
    .icons{
        font-size: 1rem;
        display: flex;
        width: 100%;
    }
}